.language {
  display: inline;
}
.heading {
  font-size: 20px;
}
#source {
  width: 100% !important;
  background: #cccccc52;
  height: 50vh;
  font-size: 15px;
  resize: vertical;
}
.left-source {
    width: 100% !important;
    background: #fff;
    height: 50vh;
    font-size: 15px;
    resize: vertical;
    order: 1px solid #d8d8d8;
    resize: vertical;
}
#input {
  background: #cccccc52;
  width: 45.6%;
  height: 17vh;
  resize: vertical;
  font-size: 17px;
}
#output {
  background: #cccccc52;
  width: 50%;
  height: 100%;
  position: fixed;
  top: 7.6%;
  font-size: 18px;
  right: 0;
  resize: none;
}
.language {
  width: 150px;
}
.editor-container{
  border: 1px solid #d8d8d8 !important;
}
.engine_output__dBs6o {
    position: absolute;
    bottom: 104px;
    height: 160px;
    width: calc(100% - 32px);
    border: none;
    padding: 8px;
    background: #fff;
    font-size: 14px;
    border-top: 1px solid #d8d8d8;
}
.right-btn {
    width: 10px;
}
.right-btn-span {
border: 1px solid #1e938a !important;background: none !important;color: #1e938a !important;margin-top: 2px;
}
.right-btn-mb-20 {
  float: right;
}
.bubble {
	box-sizing: border-box;
	position: relative;
	height: 48px;
	width: 360px;
	background: #f2f2f2;
	border-radius: 4px;
  margin: 0px;
  font-size: 1rem;
  padding-left: 16px;
  padding-top: 11px;
  text-align: left;
}
.bubble-left:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  top: 16px;
  left: -26px;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 18px solid transparent;
  border-right: 8px solid #f2f2f2;
}
#container-9 {
  width: 300px;
  height: 150px;
  background-size: cover;
  margin: 20px;
  margin: 0 auto;
  position: absolute;
  border: 1px dashed rgba(255, 255, 255, 0.4);
  margin-top: -140px;
  z-index: 30;
  margin-left: 160px;
}
.wrap {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  min-width: 204px;
  min-height: 38px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
  background: #4FD1C5;
  background: -webkit-gradient(linear, left top, right top, from(rgba(129,230,217,1)), to(rgba(79,209,197,1)));
  background: linear-gradient(90deg, rgb(255 186 129) 0%, rgb(255 154 29) 100%);
  border: none;
  border-radius: 6px;
  box-shadow: 12px 12px 24px rgb(209 165 79 / 40%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: absolute;
  padding: 10px;
  top: -88px;
  right: 0px;
  z-index: 99999;
  }

.button::before {
content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  box-shadow: 0 0 60px rgba(0,255,203,.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .3s ease-in-out 0s;
}
.button::after {
  content: '';
  width: 0px; height: 0px;
  border-radius: 100%;
  border: 1px solid #ff9c28;
  position: absolute;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 5s;
}

.button:hover::after, .button:focus::after {
  animation: none;
  display: none;
}

@keyframes ring {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}
